
@{
    ViewBag.Title = "Index";
}


<script type="text/javascript">
    $(document).ready(function() {
        console.log("ready");
        $.backstretch("Images/bgimg.jpg");
    })
</script>


<div id="welcomeDiv">
       Welcome To our Site!
</div>